
*.pper
/oldMR_markdown
src/.Rproj.user/029741B6/sources/prop/1886D694
src/.Rproj.user/029741B6/sources/prop/40DFA6F5
src/.Rproj.user/029741B6/sources/prop/CBC4E24D
src/.Rproj.user/029741B6/sources/prop/INDEX
src/.Rproj.user/029741B6/sources/session-883ff80b/081233F8-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/14A7BA65-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/51C30936-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/7CED2740
src/.Rproj.user/029741B6/sources/session-883ff80b/7CED2740-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/89935815
src/.Rproj.user/029741B6/sources/session-883ff80b/89935815-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/89BE72D9-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/8E62FFBE-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/AA5F43E0-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/B78A1C85
src/.Rproj.user/029741B6/sources/session-883ff80b/B78A1C85-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/BB86A3F3-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/C75739C2-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/D171CF8F-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/F6C6B2E9
src/.Rproj.user/029741B6/sources/session-883ff80b/F6C6B2E9-contents
src/.Rproj.user/029741B6/sources/session-883ff80b/lock_file
src/.Rproj.user/shared/notebooks/lock_file
src/.Rproj.user/shared/notebooks/patch-chunk-names
*.Rproj
*.csv
*.csv
*.pdf
*.png
src/.Rproj.user/*
results/*
src/old_scripts/*
*.log
*.gz
*.snplist
*.bed
*.nosex
*.id
*.sample
*.bim
*.fam
*.zip
*.tsv
src/02_one_sample_MR/Health-and-Wellbeing-MR-master/BMI_betas.txt
src/02_one_sample_MR/02_gwas/tmp/samplelist.EUR.txt
src/02_one_sample_MR/02_gwas/data/metab_gwas.keep_samples.n82680.20240123.txt
src/02_one_sample_MR/Health-and-Wellbeing-MR-master/BMISNPs.txt
src/02_one_sample_MR/Health-and-Wellbeing-MR-master/Two-sample MR Base script.R
src/02_one_sample_MR/Health-and-Wellbeing-MR-master/Two-sample MR Base script - Revisions.R
src/02_one_sample_MR/Health-and-Wellbeing-MR-master/README.md
src/02_one_sample_MR/02_gwas/mergelist.txt
src/02_one_sample_MR/02_gwas/interactive_testing.txt
data/metab_gwas.list.txt
.Rproj.user
/input
/src_original
/data
